{% extends "workshops/2013_Workshop_Duke_FlowCytometry/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script xmlns="http://www.w3.org/1999/html">
    document.getElementById("hotels-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Hotels</h1>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h2><a href="http://www.washingtondukeinn.com/">The Washington Duke Inn</a></h2>
                  3001 Cameron Boulevard<br/>
                  Durham, NC  27706<br/>
                  (919) 490-0666

                  <p><i>closest to campus, although more expensive than the others</i></p>
                </td>
                <td>
                  <h2><a href="http://www3.hilton.com/en/hotels/north-carolina/hilton-durham-near-duke-university-RDUDHHF/index.html">Hilton Durham near Duke University</a></h2>
                  3800 Hillsborough Road<br/>
                  Durham, NC  27705<br/>
                  (919) 383-8033
                </td>
                <td>
                  <h2><a href="http://www.millenniumhotels.com/millenniumdurham/">Millennium Hotel</a></h2>
                  2800 Campus Walk Avenue<br/>
                  Durham, NC  27705<br/>
                  (919) 383-8575
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
          <h1>Restaurants</h1>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h2><a href="http://noshfood.com/">Nosh Eclectic Foodstuffs</a></h2>
                  2812 Erwin Road, Suite 101<br/>
                  Durham, NC 27705<br/>
                  (919) 383-4747
                </td>
                <td>
                  <h2><a href="http://www.chai-noodles.com/">Chai's Noodle Bar & Bistro</a></h2>
                  2816 Erwin Road, Suite 207<br/>
                  Durham, NC 27705-4589<br/>
                  (919) 309-4864
                </td>
                <td>
                  <h2><a href="http://www.sushilove.org/">Sushi Love</a></h2>
                  2812 Erwin Rd, Suite 204<br/>
                  Durham , NC 27705<br/>
                  (919) 309-2401
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a href="http://enzospizzaco.com/">Enzo’s Pizza</a></h2>
                    2608 Erwin Rd., Suite 140<br/>
                    Durham, NC 27705<br/>
                    (919) 309-3696
                </td>
                <td>
                  <h2><a href="http://www.mediterranc.com/ordereze/1000/Page.aspx">Mediterra Grill</a></h2>
                  2608 Erwin Rd., Suite 136<br/>
                  Durham, NC 27705<br/>
                  (919) 383-0066
                </td>
                <td>
                  <h2><a href="http://www.noodles.com/locations/851/">Noodles & Company</a></h2>
                  2608 Erwin Rd<br/>
                  Durham, NC 27705<br/>
                  (919) 383-5600
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a href="http://www.chipotle.com/">Chipotle</a></h2>
                  2608 Erwin Rd.<br/>
                  Durham, NC 27705<br/>
                  (919) 309-2901
                </td>
                <td>
                  <h2><a href="http://www.firehousesubs.com/">Fire House Subs</a></h2>
                  2608 Erwin Rd., Suite 128<br/>
                  Durham, NC 27705<br/>
                  (919) 383-2100
                </td>
                <td>
                  <h2><a href="http://www.greentango.com/">Green Tango (salads)</a></h2>
                  2608 Erwin Road<br/>
                  Durham, NC 27705<br/>
                  (919) 321-8001
                </td>
              </tr>
              <tr>
                <td>
                    <h2><a href="http://www.tgifridays.com/">T.G.I. Fridays</a></h2>
                    2608 Erwin Rd., Suite 104<br/>
                    Durham, NC 27705<br/>
                    (919) 383-9636
                </td>
                <td>
                  <h2><a href="http://www.dunkindonuts.com/">Dunkin Donuts/Baskin Robbins</a></h2>
                  2608 Erwin Rd<br/>
                  Durham, NC 27705<br/>
                  (919) 309-0000
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}