{% extends "2013_Workshop_Duke_R/workshop_base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("links-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span6 home-block hero-block-1">
          <h1>Links</h1>
          <hr/>

          <p>
            <a href="http://cfar.duke.edu/">Duke CFAR</a>
          </p>
          <p>
            <a href="http://www.r-project.org/">R Website</a>
          </p>
          <p>
            <a href="http://rstudio.com/">RStudio Website</a>
          </p>
          <p>
            <a href="http://cran.r-project.org/doc/contrib/Verzani-SimpleR.pdf">simpleR - Using R for Introductory Statistics</a>
          </p>
          <p>
            <a href="http://lib.stat.cmu.edu/DASL/">DASL - The Data and Story Library</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}