{% extends "2013_Workshop_Duke_R/workshop_base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Thursday, August 22nd - Workshop 2 - Day 2</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>9:00 - 9:30</h2>
                </td>
                <td>
                  <h2>LAB 4: Multiple comparisons (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>9:30 - 12:00</h2>
                </td>
                <td>
                  <h2>LAB 5: Data manipulation and exploratory data analysis with R (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:00 - 1:00</h2>
                </td>
                <td>
                  <h2>LUNCH (not provided)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 3:30</h2>
                </td>
                <td>
                  <h2>LAB 6: Programming in R (Instructor: Cliburn Chan)</h2>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w2d2/lab6.html">
                      HTML
                    </a>
                  </p>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w2d2/week2-lab6-pretest.zip">
                      Pre-test Materials
                    </a>
                  </p>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w2d2/week2-lab6.zip">
                      Data Sets
                    </a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>3:30 - 4:00</h2>
                </td>
                <td>
                  <h2>Q&A</h2>
                  <h2>SURVEY: Fill out the feedback form to let us know what you thought of the workshop.</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}