{% extends "2013_Workshop_Duke_R/workshop_base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Wednesday, August 14th - Workshop 1 - Day 1</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>9:00 - 9:30</h2>
                </td>
                <td>
                  <h2>Welcome and Introductions</h2>
                  <h2>Review Agenda</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>9:30 - 10:30</h2>
                </td>
                <td>
                  <h2>LAB 1: Tour of RStudio (Instructor: Cliburn Chan)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:30 - 11:00</h2>
                </td>
                <td>
                  <h2>LAB 2: Motivating examples in R (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>11:00 - 12:00</h2>
                </td>
                <td>
                  <h2>LAB 3: R as a calculator (Instructor: Cliburn Chan)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:00 - 1:00</h2>
                </td>
                <td>
                  <h2>LUNCH</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 2:00</h2>
                </td>
                <td>
                  <h2>LAB 4: R data structures (Instructor: Cliburn Chan)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>2:00 - 3:30</h2>
                <td>
                  <h2>LAB 5: Data summary and visualization with R (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>3:30 - 4:00</td>
                <td>
                  <h2>LAB 6: Reproducible analysis with R (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}