{% extends "2013_Workshop_Duke_R/workshop_base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Wednesday, August 21st - Workshop 2 - Day 1</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>9:00 - 9:30</h2>
                </td>
                <td>
                  <h2>LECTURE 1: Regression diagnostics (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>9:30 - 10:00</h2>
                </td>
                <td>
                  <h2>LECTURE 2: Checking assumptions for hypothesis testing (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:00 - 11:00</h2>
                </td>
                <td>
                  <h2>LECTURE 3: Power analysis and sample size determination (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>11:00 - 12:00</h2>
                </td>
                <td>
                  <h2>LECTURE 4: Multiple comparisons (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:00 - 1:00</h2>
                </td>
                <td>
                  <h2>LUNCH (not provided)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 2:00</h2>
                </td>
                <td>
                  <h2>LAB 1: Regression diagnostics (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>2:00 - 3:00</h2>
                </td>
                <td>
                  <h2>LAB 2: Nonparametric hypothesis tests (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>3:00 - 4:00</h2>
                </td>
                <td>
                  <h2>LAB 3: Power analysis and sample size determination (Instructor: Darongsae Kwon)</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}