{% extends "2013_Workshop_Duke_R/workshop_base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Thursday, August 15th - Workshop 1 - Day 2</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>9:00 - 10:00</h2>
                </td>
                <td>
                  <h2>LECTURE 1: Introduction to hypothesis testing (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:00 - 11:00</h2>
                </td>
                <td>
                  <h2>LECTURE 2: Introduction to linear regression (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>11:00 - 12:00</h2>
                </td>
                <td>
                  <h2>LECTURE 3: Introduction to logistic regression (Instructor: Gregory Samsa)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:00 - 1:00</h2>
                </td>
                <td>
                  <h2>LUNCH (not provided)</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 2:00</h2>
                </td>
                <td>
                  <h2>LAB 7: Hypothesis testing (Instructor: Darongsae Kwon)</h2>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab7.Rmd">
                      Rmd
                    </a> |
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab7.html">
                      HTML
                    </a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>2:00 - 3:00</h2>
                <td>
                  <h2>LAB 8: Linear regression (Instructor: Darongsae Kwon)</h2>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab8.Rmd">
                      Rmd
                    </a> |
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab8.html">
                      HTML
                    </a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>3:00 - 4:00</h2>
                <td>
                  <h2>LAB 9: Logistic regression (Instructor: Darongsae Kwon)</h2>
                  <p>
                    <i class="icon-download-alt icon-large"></i>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab9.Rmd">
                      Rmd
                    </a> |
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_R/w1d1/w1-lab9.html">
                      HTML
                    </a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}