{% extends "base.html" %}
{% load url from future %}
{% block workshop_title %}2013 R Workshops at Duke University{% endblock %}
{% block workshop_base %}
    <!-- NAV START -->
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse">
                        <ul class="nav nav-pills">
                            <li id="home-nav" class="single"><a href="{% url '2013_Duke_R_overview' %}">OVERVIEW<i></i></a>
                            </li>
                            <li id="agenda-nav" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">AGENDA<i></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url '2013_Duke_R_week_1_day_1' %}">Week 1 - Day 1</a></li>
                                    <li><a href="{% url '2013_Duke_R_week_1_day_2' %}">Week 1 - Day 2</a></li>
                                    <li>-</li>
                                    <li><a href="{% url '2013_Duke_R_week_2_day_1' %}">Week 2 - Day 1</a></li>
                                    <li><a href="{% url '2013_Duke_R_week_2_day_2' %}">Week 2 - Day 2</a></li>
                                </ul>
                            </li>
                            <li id="links-nav" class="single"><a href="{% url '2013_Duke_R_links' %}">LINKS<i></i></a>
                            <li id="contact-nav" class="single"><a href="{% url '2013_Duke_R_contact' %}">CONTACT<i></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- BODY -->
    <div class="main-content">
      <div class="container">
    {% block body %}
    {% endblock %}
        <!-- SPONSOR LOGO BAR -->
        <div class="main-block sponsors">
            <div class="title-wrapper">
                <h2>Sponsors</h2>
            </div>
            <div class="row show-grid">
                <div class="span12">
                    <div id="sponsors" class="row show-grid">
                        <div class="span2 clear-both">
                            <a href="http://www.niaid.nih.gov/labsandresources/resources/cfar/Pages/default.aspx"><img alt="" src="{{ STATIC_URL }}img/cfar_logo.jpg" /></a>
                        </div>
                        <div class="span2">
                            <a href="http://www.bd.com/"><img alt="" src="{{ STATIC_URL }}img/bd-logo.gif" /></a>
                        </div>
                        <div class="span2">
                            <a href="https://www.beckmancoulter.com"><img alt="" src="{{ STATIC_URL }}img/bc_logo.png" /></a>
                        </div>
                        <div class="span2">
                            <a href="http://eqapol.dhvi.duke.edu/"><img alt="" src="{{ STATIC_URL }}img/eqapol_logo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END BODY -->
<!-- FOOTER STARTS HERE -->
    <div class="top-footer-border">
      <div class="container"></div>
    </div>
    </div>
    <div class="footer-top"></div>
    <div class="footer-wrapper">
      <div class="container">
        <div class="row show-grid">
          <div class="span12">
            <div class="row show-grid">
<!-- FOOTER: ADDRESS -->
              <div class="span4">
                <h4 class="center-title">Contact Us</h4>
                <address class="address">
                  <p><i class="icon-map-marker icon-large"></i>Beard Conference Room</p>
                  <p><i>&nbsp;</i>Surgical Oncology Research Facility</p>
                  <p><i>&nbsp;</i>Duke University Medical Center</p>
                  <p>&nbsp;</p>
                  <p><i class="icon-envelope icon-large"></i><a href="mailto:darongsae.kwon@duke.edu?Subject=2013%20R Workshop%20Registration">darongsae.kwon@duke.edu</a></p>
                </address>
              </div>
<!-- FOOTER: ABOUT US -->
              <div class="span4 footer-center">
                <h4 class="center-title">About</h4>
                <p>

                </p>
              </div>
<!-- FOOTER: NAVIGATION LINKS -->
              <div class="span4 footer-right">
                <h4 class="center-title">Navigate</h4>
                <ul class="footer-navigate">
                  <li>
                    <a href="{% url '2013_Duke_R_overview' %}">Overview</a>
                  </li>
                  <li>
                    <a href="{% url '2013_Duke_R_register' %}">Register</a>
                  </li>
                  <li>
                    <a href="{% url '2013_Duke_R_week_1_day_1' %}">Agenda</a>
                  </li>
                  <li>
                    <a href="{% url '2013_Duke_R_contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row show-grid">
<!-- FOOTER: COPYRIGHT TEXT -->
          <div class="span12">
            <p class="text-center">&copy; 2013 <a href="http://www.duke.edu">Duke University</a></p>
          </div>
        </div>
      </div>
    </div>
<!-- END FOOTER -->
{% endblock %}