/* Color of the very top line
---------------------------------------------------------------------- */

.top_line {
    background-color: #235f9c;
}

/* Color that link text will appear as
---------------------------------------------------------------------- */

a {
    color: #235f9c;
}

/* Color that appears when user hovers over a link
---------------------------------------------------------------------- */

a:hover {
    color: #235f9c;
}

/* Text color of the active link in a drop down menu
---------------------------------------------------------------------- */

.navbar .nav .open .dropdown-menu .active a {
    color: #235f9c;
}

/* Text color of the active link in a drop down menu when you hover over it
---------------------------------------------------------------------- */

.navbar .nav .open .dropdown-menu .active a:hover {
    color: #235f9c;
}

/* Text color of the active navbar item
---------------------------------------------------------------------- */

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active a > i, .navbar .nav .active a > i:hover {
    color: #235f9c;
}

/* Primary menu text color when you hover over it (does not include the sub-menu text)
---------------------------------------------------------------------- */

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #235f9c;
}

/* Color of the stripe in a dropdown menu when you hover over vertical menu item
---------------------------------------------------------------------- */

.navbar .nav > li .dropdown-menu li a:hover {
    background-color: #292929;
    background-image: none !important;
}

/* Color of the text in a dropdown menu when you hover over it
---------------------------------------------------------------------- */

.navbar .nav > li .dropdown-menu li a:hover {
    color: #235f9c;
}

/* Color of the menu bar's sub-menu text when you hover over it and the color of both the primary and sub-menu text that has no sub-nav when you hover over it
---------------------------------------------------------------------- */

.navbar .nav > li:hover a, .navbar .nav > li:hover a i {
    color: #235f9c;
}

/* Color of bar above active menu item or menu item when you hover over it
---------------------------------------------------------------------- */

.navbar .nav .active > a, .navbar .nav li:hover > a {
    border-top: 3px solid #235f9c;
}

/* Color of top footer border
---------------------------------------------------------------------- */

.top-footer-border {
    background-color: #235f9c;
}

/* Color of active nav filter
---------------------------------------------------------------------- */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #235f9c;
}
