{% extends "workshops/2013_Workshop_Duke_R/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("contact-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Contact Us</h1>
          <hr/>
          <h3>Darongsae Kwon<br/>
          <a href="mailto:darongsae.kwon@duke.edu?Subject=2013%20R%20Workshops">darongsae.kwon@duke.edu</a></h3>
          <br/>
          <h1>Workshop Location</h1>
          <hr/>
          <h3>
            Both workshops will be on the 11th floor of  Hock Plaza.
            Note the classroom change between workshops:
          </h3>
          <br/>
          <h2>Workshop 1 - Aug 14-15, 2013 (Room 11025, Suite 1105)</h2>
          <h2>Workshop 2 - Aug 21-22, 2013 (Room 11110)</h2>
          <br/>
          <h2>
          Hock Plaza<br/>
          2424 Erwin Road<br/>
          Durham, NC
          </h2>
          <iframe width="940" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hock+Plaza&amp;aq=&amp;sll=36.001827,-78.884911&amp;sspn=0.531605,0.661926&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Hock+Plaza,+Durham,+North+Carolina+27705&amp;z=16&amp;ll=36.009299,-78.941729&amp;output=embed">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}