{% extends "workshops/2013_Workshop_Duke_R/workshop_subbase.html" %}
{% load url from future %}

{% block body %}
<script xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    document.getElementById("home-nav").className += " active";
</script>
    <div>
      <img class="hero" alt="" src="{{ STATIC_URL }}img/2013_Duke_R/hero.png" />
    </div>
    <div class="row main-block">
      <div class="span12">
        <div class="row">
          <div class="span7 home-block hero-block-1">
            <h1>Workshop Overview</h1>
            <p class="medium">
              The CFAR Biostatistics and Computational Biology Core is running two workshops
              for Duke researchers teaching the use of the R statistical programming language
              for basic data analysis. The course is designed for people trained in biology,
              and no previous programming or statistical experience is necessary.
            </p>
            <p class="medium">
              Workshop 1 will cover the use of RStudio and introduce basic data manipulation,
              analysis and  visualization. Workshop 2 will cover further statistical inference
              techniques (checking model assumptions, non-parametric tests, multiple
              comparisons, power and sample size calculations) as well as an introduction to
              programming in R.
            </p>
            <br/>
            <h2>Pre-requisites</h2>
            <p class="medium">
              Participants must provide their own laptops (Windows, Mac, or Linux).
              Prior to the workshop, please install
              <a href="http://www.r-project.org">R version 3.0.1</a>
              as well as <a href="http://rstudio.com">RStudio version 0.97.551</a>.
              We strongly recommend you read
              <a href="http://cran.r-project.org/doc/contrib/Torfs+Brauer-Short-R-Intro.pdf">
                this (very) short introduction to R
              </a>
              before the workshop. Do not worry if it is confusing, we
              will cover all the topics in the workshop.
            </p>
          </div>
          <!-- MAIN CONTENT AREA: BLOCK 2 -->
          <div class="span5 home-block">
            <div class="grey-box hero-block-2">
              <h2>You Must Pre-Register</h2>
                <p class="medium">
                  Acceptance is first-come first-serve, but CFAR investigators and their
                  trainees will have priority. Preference will be given to participants who can
                  attend both workshops.
                </p>
                <p class="medium">
                  Please note that lunch is <b>not</b> provided.
                </p>
              <a href="mailto:darongsae.kwon@duke.edu?Subject=2013%20R Workshop%20Registration" class="btn btn-warning">Sign Up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}