{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("contact-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Contact Us</h1>

          <hr/>

          <h3>
            Kent Weinhold, Ph.D<br/>
            Joseph W. and Dorothy W. Beard Professor of Surgery<br/>
            Chief, Division of Surgical Sciences<br/>
            Professor of Immunology<br/>
            Director, Duke Center for AIDS Research (CFAR)<br/>
            <br/>
            204 SORF (Bldg.41), 915 S. LaSalle Street<br/>
            Box 2926 Duke University Medical Center<br/>
            Durham, NC 27710-2926<br/>
            <br/>
            <a href="mailto:kent.weinhold@dm.duke.edu?Subject=CFAR CIG">kent.weinhold@dm.duke.edu</a>
          </h3>

          <hr/>

          <h3>
            Janet Staats<br/>
            Scientific/Research Laboratory Manager<br/>
            Flow Cytometry Core Facility<br/>
            Center for AIDS Research<br/>
            <br/>
            119 SORF (Bldg.41), 915 S. LaSalle Street<br/>
            LaSalle St. Ext.<br/>
            Duke University Medical Center<br/>
            Durham, NC 27710-2926<br/>
            <br/>
            <a href="mailto:janet.staats@duke.edu?Subject=CFAR CIG">janet.staats@duke.edu</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}