{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("contact-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Contact Us</h1>
          <hr/>
          <h3>Janet Staats<br/>
          <a href="mailto:janet.staats@duke.edu?Subject=CFAR CIG">janet.staats@duke.edu</a></h3>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}