{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("home-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Announcements</h1>
          <hr>

          <ul>
            <li>
              Welcome to CFAR Cytometry Interest Group (CIG).  For more
              information on our Inaugural Meeting, please see
              <a href="{% url 'meetings_home' %}">Flow Cytometry Workshop CFAR Directors Meeting Miami. FL</a>.
            </li>

            <br />

            <li>
              Please welcome our newest CIG sites:
                <ul>
                  <li>
                    <a href="https://depts.washington.edu/cfar/">Seattle</a>
                  </li>
                  <li>
                    <a href="http://www.chicagocfar.org/home">Chicago</a>
                  </li>
                </ul>
            </li>

            <br />

            <li>
              If you haven't already done so, please
              <a href="https://duke.qualtrics.com/SE/?SID=SV_9MFVM8OlgdNXAeF">
                take a survey
              </a>
              on participating in CFAR-CIG.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
