{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("home-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Announcements</h1>
          <hr>

          <ul>
            <li>
              Welcome to CFAR Cytometry Interest Group (CIG).  For more
              information on our Inaugural Meeting, please see
              <a href="{% url 'meetings_home' %}">Flow Cytometry Workshop CFAR Directors Meeting Miami. FL</a>.
            </li>

            <br />

            <li>
              Please welcome our Newest CIG Site: <a href="https://depts.washington.edu/cfar/">Seattle</a>
            </li>

            <br />

            <li>
              If you haven't already done so, please
              <a href="https://duke.qualtrics.com/SE/?SID=SV_9MFVM8OlgdNXAeF">
                take a survey
              </a>
              on participating in CFAR-CIG.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />

  <div id="home-logos" class="container">
    <div class="row">

      <span class="span4 text-center middle">
        <img src="{{ STATIC_URL }}img/miami-logo.gif" />
      </span>
      <span class="span4 text-center middle">
        <img src="{{ STATIC_URL }}img/duke_som.png" />
      </span>
      <span class="span4 text-center middle">
        <img src="{{ STATIC_URL }}img/fh_logo_color_large.gif" />
      </span>

    </div>

    <div class="row">
      <span class="span6 text-center middle">
        <img src="{{ STATIC_URL }}img/emory.png" />
      </span>
      <span class="span6 text-center middle">
        <img src="{{ STATIC_URL }}img/rush-logo.png" />
      </span>
    </div>
  </div>

{% endblock %}
