{% extends "base.html" %}
{% load url from future %}

{% block body %}
<script>
    document.getElementById("home-nav").className += " active";
</script>
    <div>
      <img alt="" src="{{ STATIC_URL }}img/hero.png" />
    </div>
    <div class="row main-block">
      <div class="span12">
        <div class="row">
          <div class="span6 home-block hero-block-1">
            <h1>We Need Some Text Here!</h1>
            <h2>Something else to go here</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>
          <!-- SPACER  -->
          <div class="span1">
          </div>
          <!-- MAIN CONTENT AREA: BLOCK 2 -->
          <div class="span5 home-block">
            <div class="grey-box hero-block-2">
              <h2><a href="{% url 'register' %}">You Must Pre-Register</a></h2>
              <p>
                Make sure you sign all the waivers and complete all the pre-registration assays.
                These must submitted prior to the workshop!
              </p>
              <a href="{% url 'register' %}" class="btn btn-warning">Register Here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}