{% extends "base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("register-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span6 home-block hero-block-1">
          <h1>Links</h1>
          <hr/>

          <p>
            <a href="http://cfar.duke.edu/">Duke CFAR</a>
          </p>
          <p>
            <a href="https://lists.purdue.edu/mailman/listinfo/cytometry">Purdue Cytometry Mailing List</a>
          </p>
          <p>
            <a href="http://www.invitrogen.com/site/us/en/home/Products-and-Services/Applications/Cell-Analysis/Flow-Cytometry.html">Life Technologies Flow Cytometry Site</a>
          </p>
          <p>
            <a href="http://www.beckmancoulter.com/wsrportal/wsr/research-and-discovery/products-and-services/flow-cytometry/practical-flow-cytometry/index.htm">Beckman Coulter</a>
          </p>
          <p>
            <a href="http://www.beckmancoulter.com/wsrportal/wsr/research-and-discovery/products-and-services/flow-cytometry/webinar-symposium/index.htm">Beckman Coulter Webinars</a>
          </p>

      </div>
    </div>
  </div>
  <hr>
{% endblock %}