{% extends "base.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("register-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span6 home-block hero-block-1">
          <h1>Links</h1>
          <hr/>

          <p>
            <a href="https://lists.purdue.edu/mailman/listinfo/cytometry">https://lists.purdue.edu/mailman/listinfo/cytometry</a>
          </p>
          <p>
            <a href="http://www.beckmancoulter.com/wsrportal/wsr/research-and-discovery/products-and-services/flow-cytometry/practical-flow-cytometry/index.htm">http://www.beckmancoulter.com/wsrportal/wsr/research-and-discovery/products-and-services/flow-cytometry/practical-flow-cytometry/index.htm</a>
          </p>
          <p>
            <a href="http://tools.invitrogen.com/content.cfm?pageid=11556">http://tools.invitrogen.com/content.cfm?pageid=11556</a>
          </p>

      </div>
    </div>
  </div>
  <hr>
{% endblock %}