{% extends "base.html" %}
{% load url from future %}

{% block title %}Center for AIDS Research - Cytometry Interest Group{% endblock %}

{% block sub_base %}
  <!-- NAV START -->
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav nav-pills">
              <li id="home-nav" class="single">
                <a href="{% url 'home' %}">HOME<i></i></a>
              </li>
              <li id="mission-nav" class="single">
                <a href="{% url 'mission' %}">MISSION / GOALS<i></i></a>
              </li>
              <li id="meetings-nav" class="single">
                <a href="{% url 'meetings_home' %}">MEETINGS<i></i></a>
              </li>
              <li id="workshops-nav" class="single">
                <a href="{% url 'workshops_home' %}">WORKSHOPS<i></i></a>
              </li>
              <li id="protocols-nav" class="single">
                <a href="{% url 'protocols' %}">SHARED PROTOCOLS<i></i></a>
              </li>
              <li id="participating-nav" class="single">
                <a href="{% url 'participating_cfars' %}">PARTICIPATING CFARs<i></i></a>
              </li>
              <li id="contact-nav" class="single">
                <a href="{% url 'contact' %}">CONTACT<i></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- BODY -->
  <div class="main-content">
    <div class="container">

      {% block body %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
<!-- END BODY -->



<!-- FOOTER STARTS HERE -->
    {% block footer %}
    <div class="top-footer-border">
      <div class="container"></div>
    </div>
    <div class="footer-top"></div>
    <div class="footer-wrapper">
      <div class="container">
        <div class="row show-grid">
          <div class="span12">
            <div class="row show-grid">
<!-- FOOTER: ADDRESS -->
              <div class="span4">
                <h4 class="center-title">Contact</h4>
                <address class="address">
                  <p><i class="icon-map-marker icon-large"></i>Surgical Oncology Research Facility</p>
                  <p><i>&nbsp;</i>915 S. LaSalle Street</p>
                  <p><i>&nbsp;</i>Box 2926 Duke University Medical Center</p>
                  <p><i>&nbsp;</i>Durham, NC 27710-2926</p>
                  <p>&nbsp;</p>
                  <p><i class="icon-envelope icon-large"></i><a href="mailto:janet.staats@duke.edu?Subject=2013%20CFAR%20Registration">janet.staats@duke.edu</a></p>
                </address>
              </div>
<!-- FOOTER: ABOUT US -->
              <div class="span4 footer-center">
                <h4 class="center-title">About CFAR</h4>
                <p>
                  The Centers for AIDS Research (CFAR) program at the National
                  Institutes of Health (NIH) provides administrative and shared
                  research support to synergistically enhance and coordinate
                  high quality AIDS research projects.
                </p>
                <a href="http://www.niaid.nih.gov/labsandresources/resources/cfar/Pages/default.aspx">
                  CFAR @ NIH
                </a>
              </div>
<!-- FOOTER: NAVIGATION LINKS -->
              <div class="span4 footer-right">
                <h4 class="center-title">Navigate</h4>
                <ul class="footer-navigate">
                  <li>
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  <li>
                    <a href="{% url 'mission' %}">Mission</a>
                  </li>
                  <li>
                    <a href="{% url 'meetings_home' %}">Meetings</a> / <a href="{% url 'workshops_home' %}">Workshops</a>
                  </li>
                  <li>
                    <a href="{% url 'protocols' %}">Protocols</a>
                  </li>
                  <li>
                    <a href="{% url 'participating_cfars' %}">Participating CFARs</a>
                  </li>
                  <li>
                    <a href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row show-grid">
<!-- FOOTER: COPYRIGHT TEXT -->
          <div class="span12">
            <p class="text-center">&copy; 2013-14 <a href="http://www.duke.edu">Duke University</a></p>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
<!-- END FOOTER -->