{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("meetings-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Meetings</h1>
          <hr>

          <h2>
            Meeting frequency:
          </h2>
          <h4>
          <ul>
            <li>Bimonthly teleconference</li>
            <li>Annual Cytometry Workshop</li>
            <li>Annual meeting as a part of CFAR Director’s Meeting</li>
          </ul>
          </h4>
          <hr>
          <h2>2013 Meetings:</h2>
          <h3>
            Flow Cytometry Workshop Director's Meeting - Friday, Nov 8th, 2013 - Miami, FL<br />
            The inaugural CFAR Cytometry Interest Group (CIG) Meeting
          </h3>
          <ul>
            <li>
              <h4>
                Kent J. Weinhold, Duke CFAR Directory: Flow Cytometry Interest Group Summary
                <a href="{{ STATIC_URL }}meeting_materials/2013_director/2013_CFAR_CIG_DirMtg_Summary.pptx">
                <i class="icon-download-alt icon-large"></i>Slides</a>
              </h4>
            </li>
            <li>
              <h4>
                Janet Staats, FlowPET: Flow Cytometry Performance Evaluation & Training
                <a href="{{ STATIC_URL }}meeting_materials/2013_director/2013_CFAR_CIG_DirMtg_FlowPET.pptx">
                <i class="icon-download-alt icon-large"></i>Slides</a>
              </h4>
            </li>
            <li>
              <h4>
                Kent J. Weinhold, Duke CFAR Directory: Intracellular Cytokine Staining (ICS) Flow Cytometry Assay
                <a href="{{ STATIC_URL }}meeting_materials/2013_director/2013_CFAR_CIG_DirMtg_ICS.pptx">
                <i class="icon-download-alt icon-large"></i>Slides</a>
              </h4>
            </li>
            <li>
              <h4>
                John D. Altman, Emory University: MHC Tetramer Technology: Recent Developments
                <a href="{{ STATIC_URL }}meeting_materials/2013_director/2013_CFAR_CIG_DirMtg_Altman_Tetramer.pptx">
                <i class="icon-download-alt icon-large"></i>Slides</a>
              </h4>
            </li>
            <li>
              <h4>
                Suresh Pallikkuth & Savita Pahwa, University of Miami: Peripheral T follicular Helper Cells (pTfh)
- A biomarker for vaccine induced responses?
                <a href="{{ STATIC_URL }}meeting_materials/2013_director/2013_CFAR_CIG_DirMtg_Tfh_symposium.ppt">
                <i class="icon-download-alt icon-large"></i>Slides</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}