{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("participating-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Participating CFARs</h1>
          <hr>
          <h2>
            Participation in the Inter-CFAR Cytometry Interest Group is
            open to any CFAR. The current participants are:
          </h2>
          <ul>
            <li>Miami - <a href="http://cfar.med.miami.edu/">http://cfar.med.miami.edu/</a></li>
            <li>Emory - <a href="http://www.cfar.emory.edu/">http://www.cfar.emory.edu/</a></li>
            <li>Duke - <a href="http://cfar.duke.edu/">http://cfar.duke.edu/</a></li>
            <li>Seattle - <a href="https://depts.washington.edu/cfar/">https://depts.washington.edu/cfar/</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
{% endblock %}