{% extends "main_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("protocols-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Protocols</h1>
          <hr>
          <h2>
            Outcomes include shared protocols/technology transfer, new initiatives,
            training workshops, papers, and grants.
          </h2>
          <h2>
            Cytometry resources will become more transparent and available to share
            among CFARs:
          </h2>
          <ul>
            <li>Access to assay protocols</li>
            <li>Access to specialized instrumentation</li>
            <li>Access to training for cytometry-based assays and technology</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
{% endblock %}