{% extends "workshops/2014_Workshop_Duke_FlowCytometry/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("contact-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Contact Us</h1>
          <hr/>
          <h3>Janet Staats<br/>
          <a href="mailto:janet.staats@duke.edu?Subject=2013%20CFAR%20Registration">janet.staats@duke.edu</a></h3>
          <h1>Workshop Location</h1>
          <hr/>
          <h2>Beard Conference Room<br/>
          Surgical Oncology Research Facility (SORF) Building<br/>
          Duke University Medical Center</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d806.8948572808533!2d-78.94357404536896!3d36.0061415504523!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1412976904348" width="800" height="600" frameborder="0" style="border:0"></iframe>        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}