{% extends "workshops/2014_Workshop_Duke_FlowCytometry/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Monday, October 13th - Day 1</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>8:15 - 8:30</h2>
                </td>
                <td>
                  <h2>Breakfast</h2>
                  <h2>Verify Pre-Workshop Materials</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>8:30 - 9:00</h2>
                </td>
                <td>
                  <h2>Welcome & Introductions</h2>
                  <h2>Review Agenda</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>9:00 - 10:00</h2>
                </td>
                <td>
                  <h2>LECTURE: ICS Protocol - overview</h2>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/CFAR Training Assay Overview May13.pptx"><i
                      class="icon-download-alt icon-large"></i>Slides</a>
                  </p>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/ICS Assay.zip"><i
                      class="icon-download-alt icon-large"></i>Materials</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:00 - 10:30</h2>
                </td>
                <td>
                  <h2>LECTURE: LSRII Startup/Shutdown/Calibration (Daily QC)</h2>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/Protocols/LSRII Startup and Shutdown SOP.docx"><i
                      class="icon-download-alt icon-large"></i>SOP</a>
                  </p>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/LSRII_startup_shutdown.zip"><i
                      class="icon-download-alt icon-large"></i>Materials</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:30 - 12:30</h2>
                </td>
                <td>
                  <h2>LAB 1: LSRII Calibration (existing template) - Daily QC</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:30 - 1:00</h2>
                </td>
                <td>
                  <h2>WORKING LUNCH</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 1:30</h2>
                <td>
                  <h2>LECTURE/VIDEO: ICS Protocol - PBMC thawing procedures</h2>

                  <p>
                    <i class="icon-download-alt icon-large"></i>Video (<a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/VTS_01_1.VOB">VOB</a>) (<a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/PBMC_thawing.mp4">MP4</a>)
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:30 - 3:30</h2>
                <td>
                  <h2>LAB 2: ICS Assay - PBMC Thaw, Overnight Rest @ 37&deg;C, Label Tubes</h2>
                  <h2>LAB 3: LSRII Calibration - Analyze Daily QC</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>3:30 - 5:00</h2>
                <td>
                  <h2>LECTURE: Instrument Qualification</h2>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/CFAR Workshop LSRII Qualification_2013_MH.pptx"><i
                      class="icon-download-alt icon-large"></i>Slides</a>
                  </p>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/Instrument_qualification.zip"><i
                      class="icon-download-alt icon-large"></i>Materials</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}