{% extends "workshops/2014_Workshop_Duke_FlowCytometry/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("agenda-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <div class="span12 home-block hero-block-1">
          <h1>Thursday, October 16th - Day 4</h1>
          <hr/>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <h2>8:15 - 8:30</h2>
                </td>
                <td>
                  <h2>Breakfast</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>8:30 - 10:00</h2>
                </td>
                <td>
                  <h2>LECTURE: Compensation & Analysis</h2>
{#                  <p>#}
{#                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/CFAR_WS_DataAnalysis.pptx"><i#}
{#                      class="icon-download-alt icon-large"></i>Slides</a>#}
{#                  </p>#}
{#                  <p>#}
{#                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/Data Analysis.zip">#}
{#                      <i class="icon-download-alt icon-large"></i>Materials#}
{#                    </a>#}
{#                  </p>#}
                </td>
              </tr>
              <tr>
                <td>
                  <h2>10:00 - 12:00</h2>
                </td>
                <td>
                  <h2>LAB 14: ICS Compensation & Analysis- Using Data Acquired on Wednesday</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>12:00 - 1:00</h2>
                </td>
                <td>
                  <h2>WORKING LUNCH</h2>
                  <h2>RESULTS: Data standards (Scott White, Duke)</h2>
                  <p>
                    <a href="{{ STATIC_URL }}workshop_materials/2014_Duke_FlowCytometry/day4/annotation_review.xlsx">
                      <i class="icon-download-alt icon-large"></i>Annotation Summary</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>1:00 - 2:00</h2>
                </td>
                <td>
                  <h2>LECTURE: Proficiency Testing (Dr. Sylvia Janetski, CVC)</h2>
{#                  <p>#}
{#                    <a href="{{ STATIC_URL }}workshop_materials/2013_Duke_FlowCytometry/Janetzki-Duke2013.pptx"><i#}
{#                      class="icon-download-alt icon-large"></i>Slides</a>#}
{#                  </p>#}
                </td>
              </tr>
              <tr>
                <td>
                  <h2>2:00 - 6:00</h2>
                <td>
                  <h2>LAB 15: ICS Analysis - Using Data Acquired on Wednesday</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}