{% extends "workshops/2014_Workshop_Duke_FlowCytometry/workshop_subbase.html" %}
{% load url from future %}
{% block body %}
<script>
    document.getElementById("links-nav").className += " active";
</script>
  <div class="row main-block" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
      <div class="row">
        <!-- HERO BLOCK 1 -->
        <div class="span12 home-block hero-block-1">
          <h1>Links</h1>
          <hr/>

          <p>
            <a href="http://cfar.duke.edu/">Duke CFAR</a>
          </p>
          <p>
            <a href="https://lists.purdue.edu/mailman/listinfo/cytometry">Purdue Cytometry Mailing List</a>
          </p>
          <p>
            <a href="http://www.invitrogen.com/site/us/en/home/Products-and-Services/Applications/Cell-Analysis/Flow-Cytometry.html">Life Technologies Flow Cytometry Site</a>
          </p>
          <p>
            <a href="{{ STATIC_URL }}workshop_materials/2014_Duke_FlowCytometry/day5/Practical FC v4.pdf">
              Practical Flow Cytometry
            </a>
          </p>
          <p>
            <a href="http://www.beckmancoulter.com/wsrportal/wsr/research-and-discovery/products-and-services/flow-cytometry/webinar-symposium/index.htm">Beckman Coulter Webinars</a>
          </p>
          <p>
            <a href="http://www.bdbiosciences.com/research/multicolor/index.jsp">BD Biosciences - Multicolor Flow Cytometry</a>
          </p>
          <p>
            <a href="http://www.miataproject.org/">Minimal Information About T cell Assays</a> - Email <a href="mailto:sylvia@zellnet.com">Dr. Sylvia Janetski</a>
          </p>
          <p>
            <a href="http://isac-net.org/Resources-for-Cytometrists/Data-Standards/Data-File-Standards/Flow-Cytometry-Data-File-Format-Standards.aspx">FCS Standard</a>
          </p>
          <p>
            <a href="http://mibbi.sourceforge.net/portal.shtml">mibbi - Bioscience reporting guidelines and tools</a>
          </p>

          <br/>

          <h3>
            BioLegend
          </h3>
          <p>
            <a href="http://www.biolegend.com/webtoolstab">Main Webtool page</a>
          </p>
          <p>
            <a href="http://www.biolegend.com/brightness_index">Brightness index/Coefficient of Variation</a>
          </p>
          <p>
            <a href="http://www.biolegend.com/multicolor_staining#data">Common markers/Molecules per Cell</a>
          </p>
          <p>
            <a href="http://www.biolegend.com/cell_markers">Different Cell Markers-Surface/Intracellular</a>
          </p>

        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}